:root {
  --primary: #ea5433;
  --text-dark: #554945;
  --text-light: #82706b;
  --bg-color: #fef9f7;
  --para-color: #817672;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
button {
  box-shadow: none;
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
}

/* General */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
/* Custom Styles */
.title {
  text-align: center;
  margin-bottom: 1rem;
}
.title h3 {
  color: var(--text-dark);
  margin-bottom: 1rem;
}
.title p {
  color: var(--text-light);
}
.top {
  background: var(--primary);
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 888;
  bottom: 2rem;
  right: 2rem;
  padding: 1.3rem 1.3rem;
  border-radius: 6px;
}

.ml-05 {
  margin-left: 0.5rem;
}
/* Container */
.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

/* flex */
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.item-start {
  align-items: flex-start;
}
.item-center {
  align-items: center;
}
.self-stretch {
  align-self: stretch;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.flex-10 {
  flex: 0 1 10%;
}
.flex-20 {
  flex: 0 1 20%;
}
.flex-23 {
  flex: 0 1 23%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-48 {
  flex: 0 1 48%;
}
.flex-70 {
  flex: 0 1 70%;
}
.flex-80 {
  flex: 0 1 80%;
}
/* Padding */
.padding {
  padding: 5em 0;
}

.full-width {
  width: 100%;
  display: block;
}
/* Heading */
h2 {
  font-size: 2.3rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #393838;
}
h5 {
  font-size: 1.2rem;
  font-weight: 600;
}
h6 {
  font-size: 1.1rem;
  font-weight: 600;
}

#toggle,
.bars {
  display: none;
}
/* Header */
.header {
  padding: 1rem 0;
  background: #fff;
}
.logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}
.nav-menu li {
  margin-left: 2rem;
}
.nav-menu a {
  color: var(--text-light);
  font-weight: 500;
}
.nav-menu a:hover {
  color: var(--primary);
}

.sub-menu-box {
  position: relative;
}
.sub-menu {
  position: absolute;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 10rem;
  padding: 0.5rem;
  left: 50%;
  top: 1.5rem;
  transform: translateX(-50%);
  display: none;
  background: #fff;
}
.sub-menu li {
  margin: 0.5rem 0;
}

.sub-menu-box:hover .sub-menu {
  display: inline-block;
}

.deep-menu-box {
  position: relative;
}
.deep-menu {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 6px;
  width: 10rem;
  padding: 0.5rem;
  top: -0rem;
  left: 110%;
  display: none;
  background: #fff;
}
.deep-menu-box:hover .deep-menu {
  display: inline-block;
}

/* Hero */
.hero {
  min-height: 90vh;
}
.hero-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../media/background-img/hero-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-heading {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}
.hero-text {
  font-size: 1.5rem;
  color: #fff;
  margin: 0rem 0 2.5rem 0;
}
.btn-primary {
  background: rgba(234, 84, 51, 0.4);
  color: #fff;
  position: relative;
  padding: 0.7em 2rem 0.7rem 4rem;
  border-radius: 20px;
  display: inline-block;
}
.btn-primary:hover {
  background-color: var(--primary);
  color: #fff;
}
.btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-info {
  position: relative;
  top: -8rem;
}

.hero-info-highlight {
  background: var(--primary);
  padding: 1rem;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.hero-info-highlight h2 {
  margin-bottom: 1.5rem;
}
.hero-btn-container {
  text-align: center;
}
.btn-secondary {
  color: #fff;
  display: inline-block;
  margin: 0.5rem 0;
  background: #ec7048;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
}
.btn-secondary:hover {
  background: #fff;
  color: var(--primary);
}

.hero-other-article {
  padding: 1.5rem 3rem;
  text-align: center;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.hero-other-article h4 {
  margin: 1.5rem 0;
}
.hero-other-article p {
  color: var(--text-light);
}
.hero-other-article-icon {
  font-size: 1.5rem;
  color: var(--primary);
}

/* About */
.about {
  background: var(--bg-color);
}
.about-denote {
  font-size: 1.3rem;
  color: var(--text-light);
}
.about-heading {
  color: var(--text-dark);
  margin-bottom: 1rem;
}
.about-text {
  color: var(--text-light);
}

.about-info {
  margin-top: 3.5rem;
}

.about-info-icon {
  background: #fff;
  border: 1px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: var(--text-dark);
  font-size: 1.5rem;
}

.about-info-icon:hover {
  background: var(--primary);
  color: #fff;
}

.about-info h5 {
  color: var(--text-dark);
}
.about-info p {
  color: var(--text-light);
}
.about-info-article {
  margin-bottom: 1.5rem;
}

.about-img {
  position: relative;
}
.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
  height: 7rem;
  background: rgba(234, 84, 51, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.play-inner-circle {
  background: var(--primary);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Clients */
.clients-circle-container {
  text-align: center;
  margin-top: 1rem;
}
.clients-container img {
  filter: grayscale(100%);
}
.clients-container img:hover {
  filter: none;
}
.circle {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: gray;
  margin-left: 0.5rem;
}
.circle-active {
  background: var(--primary);
}

/* Services */
.services {
  background: var(--bg-color);
}
.service p {
  color: var(--text-light);
}
.services-section {
  margin: 5rem 0 0 0;
}
.service {
  text-align: center;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: relative;
  padding: 2.5rem;
  margin-bottom: 3rem;
}
.service-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.service-icon:hover {
  background: #fff;
  color: var(--primary);
  outline: 2px solid var(--primary);
}
/* Values */
.value-article {
  position: relative;
  margin-bottom: 3rem;
}

.value-article img {
  border-radius: 8px;
}
.value-article-info {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 1rem;
  position: absolute;
  bottom: 2rem;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.value-article-info h5 {
  color: var(--text-dark);
  text-align: center;
  margin-bottom: 0.5rem;
}
.value-article-info p {
  color: var(--text-light);
  margin-bottom: 0.5rem;
}
.value-article-info a {
  color: var(--text-dark);
  font-size: 0.8rem;
}

.value-article:hover .value-article-info {
  background: var(--primary);
  color: #fff;
}
.value-article:hover .value-article-info h5 {
  color: #fff;
}
.value-article:hover .value-article-info p {
  color: #fff;
}
.value-article:hover .value-article-info a {
  color: #fff;
}

/* Testimonial */
.testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../media/background-img/testimonials-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.testimonial-article {
  text-align: center;
  color: #fff;
}
.testimonial-article img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.testimonial-article h5 {
  margin-top: 1rem;
}
.testimonial-text {
  margin: 1rem 0;
  padding: 0 5rem;
}
.testimonial-article .profession {
  font-size: 0.9rem;
  margin: 0;
}
.testimonial-circle-container {
  text-align: center;
}
.testimonial-circle-container .circle {
  background: rgba(255, 255, 255, 0.8);
  width: 0.7rem;
  height: 0.7rem;
}
.testimonial-circle-container .circle-active {
  background: var(--primary);
}
.testimonial-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quote-left,
.quote-right {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

/* Portfolio */
.portfolio-img-list {
  width: 350px;
  margin: 0 auto;
  padding: 1rem 0;
}
.item {
  color: var(--text-dark);
  background: #fff;
  border-radius: 20px;
  font-weight: 600;
  padding: 0.3em 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.9rem;
}
.item:hover {
  background: #f0a48a;
  color: var(--primary);
}
.item-active {
  background: #f0a48a;
  color: var(--primary);
}

.portfolio-img-container figure {
  margin-top: 2rem;
}
.portfolio-img {
  position: relative;
}
.img-detail {
  background: rgba(255, 255, 255, 0.8);
  width: 85%;
  position: absolute;
  bottom: 1.5rem;
  display: none;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}
.img-detail-info {
  padding: 1rem;
  color: var(--text-dark);
}

.portfolio-img:hover .img-detail {
  display: block;
}
/* Team */
.team {
  background: var(--bg-color);
}
.team-members {
  margin-top: 2rem;
}
.team-member {
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
}
.team-member h5 {
  color: var(--text-dark);
}
.team-member-info {
  padding: 0.7rem;
}
.role {
  font-size: 0.8rem;
  color: var(--text-light);
}
.team-member img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Pricing */
.card {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #f8f8f8;
}
.card p {
  font-size: 0.9rem;
  color: var(--text-dark);
  border-radius: 4px;
}
.card .not-include {
  text-decoration: line-through;
  color: #cdcdcd;
}
.card-btn {
  display: inline-block;
  color: #fff;
  background-color: var(--primary);
  font-weight: 600;
  padding: 0.3rem 1.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px #f38a72;
}
.card-btn:hover {
  background: #f56343;
}
.card-name {
  background: #f8f8f8;
  padding: 1rem 0;
  color: var(--text-dark);
  font-size: 1.2rem;
  border-radius: 4px;
}
.card-name-active {
  background: var(--primary);
  color: #fff;
  box-shadow: 0 3px 4px rgba(234, 84, 51, 0.8);
}
.card-info {
  background: #fff;
  margin: 0.2rem;
  padding: 1rem 0;
}
.card-info p {
  margin: 0.5rem 0;
}
.price {
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: 600;
}
.card-button-container {
  padding: 1rem 0;
}

.ultimate-card {
  position: relative;
  overflow: hidden;
}
.ribbon {
  position: absolute;
  background-color: var(--primary);
  color: #fff;
  top: 1rem;
  right: -2rem;
  padding: 0.5rem 1.5rem;
  width: 8rem;
  height: 2rem;
  transform: rotate(45deg);
  font-size: 0.9rem;
}

/* FAQ */
.faq {
  background: var(--bg-color);
}
.faq-question {
  background: #fff;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.faqs {
  padding: 0 5rem;
}
.faq-question p {
  color: var(--text-light);
}
.question-title {
  color: var(--text-dark);
}
.question-title-active {
  color: var(--primary);
}

/* Contact */
.contact-section {
  margin: 3rem 0;
}
.contact-card {
  background: #fff;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  margin: 0 1rem;
}
.contact-icon {
  width: 2rem;
  height: 2rem;
  background: #fff;
  color: var(--primary);
  border: 1px dotted var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info {
  margin-left: 1rem;
  color: var(--text-dark);
}

form {
  max-width: 54rem;
  margin: 0 auto;
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}
.form-control {
  display: block;
  border: 1px solid #e5e5e5;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--text-light);
}
.form-btn-container {
  text-align: center;
}
.form-button {
  display: inline-block;
  color: #fff;
  background-color: var(--primary);
  padding: 0.5rem 1.5rem;
}
.form-button:hover {
  background: #f56343;
}
/* Footer */
.footer-hero {
  background: var(--bg-color);
}
.footer-intro {
  color: var(--text-light);
}
.footer-logo {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-dark);
}
.footer-hero address {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.footer-phone,
.footer-email {
  font-size: 0.9rem;
}
.hightlight {
  font-weight: 600;
  color: var(--text-dark);
}
.footer-section-heading {
  color: var(--text-dark);
  font-size: 1rem;
}
.footer-links-section a {
  font-size: 0.9rem;
  color: var(--text-light);
}
.footer-links-section span {
  color: var(--primary);
}
.footer-links-section li {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.footer-news-letter p {
  font-size: 0.9rem;
  color: var(--text-light);
  margin: 0.5rem 0;
}
.footer-news-letter input {
  display: block;
  width: 100%;
  padding: 0.8rem 0.8rem;
  border: 1px solid rgb(233, 141, 233);
  border-radius: 20px;
  background-color: #fff;
}
.news-letter-fieldset {
  position: relative;
}
.newsletter-btn {
  position: absolute;
  display: inline-block;
  padding: 0 1.5rem;
  background-color: var(--primary);
  color: #fff;
  border-radius: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright-section {
  padding: 1rem 0;
}
.copyright-text {
  color: var(--text-light);
  font-size: 0.9rem;
}
.copyright-main-hightlight {
  color: var(--primary);
}
.copyright-logo-hightlight {
  color: var(--text-dark);
  font-weight: 600;
}
.footer-social-links {
  background-color: var(--primary);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.footer-social-links:hover {
  background: #f56343;
}
.footer-social-links a {
  color: #fff;
}

/* ## Blog Page ## */
.blog-hero {
  background: #f4f2f2;
  padding: 3rem 0;
}
.blog-hightlight {
  color: var(--primary);
}
.blog-page-heading {
  font-weight: 500;
}
.blog-article {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.blog-text,
.blog-user-info {
  padding: 1rem;
}
.blog-user-info {
  color: var(--text-light);
  font-size: 0.9rem;
}
.blog-user-info div {
  margin-right: 1rem;
}
.blog-text {
  color: var(--text-dark);
}
.blog-button-container {
  text-align: right;
  margin-top: 1rem;
}
.blog-button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background: var(--primary);
  color: #fff;
  font-size: 0.9rem;
}
/* Media Queries Styles */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1040px) {
  html,
  .form-control {
    font-size: 15px;
  }
  .container {
    max-width: 1000px;
  }
}
@media screen and (max-width: 992px) {
  html,
  .form-control {
    font-size: 14px;
  }
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 720px;
  }
  .md-column {
    flex-direction: column;
  }
  .md-justify-start {
    justify-content: flex-start;
  }
  .md-flex-100 {
    flex: 0 1 100%;
    margin: 2rem 0;
  }
  .md-flex-48 {
    flex: 0 1 48%;
    margin: 2rem 0;
  }
  .md-wrap {
    flex-wrap: wrap;
  }
  .md-text-center {
    text-align: center;
  }
  /* Header */
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    z-index: 999;
  }
  .nav {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: #fff;
    padding-top: 9rem;
    z-index: 9;
  }
  #toggle:checked ~ .nav {
    display: inline-block;
  }
  .bars {
    color: var(--primary);
    font-size: 2rem;
    display: inline-block;
  }
  .logo,
  .bars {
    position: fixed;
    top: 1.5rem;
    z-index: 99;
  }
  .logo {
    left: 2rem;
  }
  .bars {
    right: 2rem;
  }
  .nav-menu li {
    margin: 16px 0;
  }
  .form-control {
    font-size: 12px;
  }
  /* ## Blog Page ## */
  .blog-hero {
    padding-top: 7rem;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 10px;
  }
  .container {
    max-width: 540px;
  }
  .sm-wrap {
    flex-wrap: wrap;
  }
  .sm-flex-100 {
    flex: 0 1 100%;
    margin: 2rem 0;
  }
  .sm-flex-30 {
    flex: 0 1 30%;
  }
  .sm-hidden {
    display: none;
  }
  .form-control {
    font-size: 10px;
  }
  /* ## Blog Page ## */
  .blog-hero {
    padding-top: 8.2rem;
  }
}
