:root {
  --primary: #ea5433;
  --text-dark: #554945;
  --text-light: #82706b;
  --bg-color: #fef9f7;
  --para-color: #817672;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
button {
  box-shadow: none;
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
}

/* General */
html {
  font-size: 16px;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}

/* Container */
.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

/* flex */
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.item-start {
  align-items: flex-start;
}
.item-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.flex-10 {
  flex: 0 1 10%;
}
.flex-20 {
  flex: 0 1 20%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-48 {
  flex: 0 1 48%;
}
.flex-70 {
  flex: 0 1 70%;
}
.flex-80 {
  flex: 0 1 80%;
}
/* Padding */
.padding {
  padding: 5em 0;
}

.full-width {
  width: 100%;
  display: block;
}
/* Heading */
h2 {
  font-size: 2.3rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #393838;
}
h5 {
  font-size: 1.2rem;
  font-weight: 600;
}
/* Header */
.header {
  padding: 1rem 0;
  background: #fff;
}
.logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}
.nav-menu li {
  margin-left: 2rem;
}
.nav-menu a {
  color: var(--text-light);
  font-weight: 500;
}
.nav-menu a:hover {
  color: var(--primary);
}

.sub-menu-box {
  position: relative;
}
.sub-menu {
  position: absolute;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 10rem;
  padding: 0.5rem;
  left: 50%;
  top: 1.5rem;
  transform: translateX(-50%);
  display: none;
  background: #fff;
}
.sub-menu li {
  margin: 0.5rem 0;
}

.sub-menu-box:hover .sub-menu {
  display: inline-block;
}

.deep-menu-box {
  position: relative;
}
.deep-menu {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 6px;
  width: 10rem;
  padding: 0.5rem;
  top: -0rem;
  left: 110%;
  display: none;
  background: #fff;
}
.deep-menu-box:hover .deep-menu {
  display: inline-block;
}

/* Hero */
.hero {
  height: 90vh;
}
.hero-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../media/background-img/hero-bg.jpg") no-repeat;
  background-size: cover;
}
.hero-heading {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}
.hero-text {
  font-size: 1.5rem;
  color: #fff;
  margin: 0rem 0 2.5rem 0;
}
.btn-primary {
  background: rgba(234, 84, 51, 0.4);
  color: #fff;
  position: relative;
  padding: 0.7em 2rem 0.7rem 4rem;
  border-radius: 20px;
  display: inline-block;
}
.btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-info {
  position: relative;
  top: -8rem;
}

.hero-info-highlight {
  background: var(--primary);
  padding: 1rem;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.hero-info-highlight h2 {
  margin-bottom: 1.5rem;
}
.hero-btn-container {
  text-align: center;
}
.btn-secondary {
  color: #fff;
  display: inline-block;
  margin: 0.5rem 0;
  background: #ec7048;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
}

.hero-other-article {
  padding: 1.5rem 3rem;
  text-align: center;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.hero-other-article h4 {
  margin: 1.5rem 0;
}
.hero-other-article p {
  color: var(--text-light);
}
.hero-other-article-icon {
  font-size: 1.5rem;
  color: var(--primary);
}

/* About */
.about {
  background: var(--bg-color);
}
.about-denote {
  font-size: 1.3rem;
  color: var(--text-light);
}
.about-heading {
  color: var(--text-dark);
  margin-bottom: 1rem;
}
.about-text {
  color: var(--text-light);
}

.about-info {
  margin-top: 3.5rem;
}

.about-info-icon {
  background: #fff;
  border: 1px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: var(--text-dark);
}

.about-info h5 {
  color: var(--text-dark);
}
.about-info p {
  color: var(--text-light);
}
.about-info-article {
  margin-bottom: 1.5rem;
}

.about-img {
  position: relative;
}
.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
  height: 7rem;
  background: rgba(234, 84, 51, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.play-inner-circle {
  background: var(--primary);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Clients */
.clients-circle-container {
  text-align: center;
  margin-top: 1rem;
}

.circle {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: gray;
  margin-left: 0.5rem;
}
.circle-active {
  background: var(--primary);
}

/* Services */
.services {
  background: var(--bg-color);
}

.services-article {
  text-align: center;
}
.services h3 {
  color: var(--text-dark);
  margin-bottom: 1rem;
}
.services-article p,
.service p {
  color: var(--text-light);
}
.services-section {
  margin: 5rem 0 0 0;
}
.service {
  text-align: center;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: relative;
  padding: 2.5rem;
  margin-bottom: 3rem;
}
.service-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Values */
.value-article {
  position: relative;
  margin-bottom: 3rem;
}
.value-article img {
  border-radius: 8px;
}
.value-article-info {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 1rem;
  position: absolute;
  bottom: 2rem;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.value-article-info h5 {
  color: var(--text-dark);
  text-align: center;
  margin-bottom: 0.5rem;
}
.value-article-info p {
  color: var(--text-light);
  margin-bottom: 0.5rem;
}
.value-article-info a {
  color: var(--text-dark);
  font-size: 0.8rem;
}

/* Testimonial */
.testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../media/background-img/testimonials-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.testimonial-article {
  text-align: center;
  color: #fff;
}
.testimonial-article img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.testimonial-article h5 {
  margin-top: 1rem;
}
.testimonial-text {
  margin: 1rem 0;
  padding: 0 5rem;
}
.testimonial-article .profession {
  font-size: 0.9rem;
  margin: 0;
}
.testimonial-circle-container {
  text-align: center;
}
.testimonial-circle-container .circle {
  background: rgba(255, 255, 255, 0.8);
  width: 0.7rem;
  height: 0.7rem;
}
.testimonial-circle-container .circle-active {
  background: var(--primary);
}
.testimonial-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quote-left,
.quote-right {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
